.flex{
    width: 40vw;
    margin: auto;
    min-height:100vh;
    display: flex;
    flex-direction: column;
align-items: center;
justify-content: center;
gap: 1rem;
}
.btnd{
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
}
.btn-clear{
    align-self: flex-end;
    margin-right: 4rem;
}